.NavBg{
    background-color: #afd2e9;
}
.Logo{
    margin-left: 10px;
    width: 25px;
    height:30px;
}
.Jumbotron{
    height: 350px;
}

.Images{
    height: 50vh;
    width: 400px;
}
.displayFlex{
    display: flex;
    align-items: center;
    
}
.ColorSection{
    background-color: #EFF1F3;
    color: #5D737E;
}

.AddWithSpace{
    padding: 10px;
    margin-top: 15px;
}

.FooterSection{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.FooterLink{
    text-decoration: none;
    
}